{% extends "layouts/layout.twig" %}

{% block content %}

    {{ viewData.message.onlyOne|raw }}

    {{ viewData.render('layouts/broadcast') | raw }}

    <h3>redirect with messages sample</h3>
    <ul>
        <li><a href="jump">jump!!!</a></li>
    </ul>

    <h3>file upload sample</h3>
    <ul>
        <li><a href="upload">upload!!!</a></li>
    </ul>

    <h3>error samples</h3>

    <ul>
        <li><a href="not-such-file">not found</a></li>
        <li><a href="throw">catch exception</a></li>
    </ul>

    <h3>other samples</h3>

    <dl class="dl-horizontal">

        <dt><a href="content">content</a></dt>
        <dd>contains only main body. </dd>

        <dt><a href="objGraph">object graph</a></dt>
        <dd>object graph of $responder object using <a href="https://github.com/koriym/print_o" >koriym/printo</a>.</dd>

    </dl>
{% endblock %}