{% extends "layouts/layout.twig" %}

{% block content %}

    <h1>Hello Tuum/Respond</h1>

    <p>helpers and responders for Psr-7 http/messages.</p>
    <p>This is a package to turn micro-framework into ordinary framework for ordinary web site.</p>
    <p>a.k.a. Tuum/Http, </p>

    <h3>redirect with messages sample</h3>
    <ul>
        <li><a href="jump">jump!!!</a></li>
    </ul>

    <h3>file upload sample</h3>
    <ul>
        <li><a href="upload">upload!!!</a></li>
    </ul>

    <h3>error samples</h3>

    <ul>
        <li><a href="not-such-file">not found</a></li>
        <li><a href="throw">catch exception</a></li>
    </ul>

    <h3>other samples</h3>

    <dl class="dl-horizontal">

        <dt><a href="content">content</a></dt>
        <dd>contains only main body. </dd>

        <dt><a href="forms" >forms</a></dt>
        <dd>various form samples.</dd>

        <dt><a href="objGraph">object graph</a></dt>
        <dd>object graph of $responder object using <a href="https://github.com/koriym/print_o" >koriym/printo</a>.</dd>

    </dl>
{% endblock %}