{% block content %}

<style type="text/css">
    div.broadcast {
        margin: 1em;
        padding: 0 1em 1em 1em;
        background-color: #f0f0f0;
        border: 2px solid #cccccc;
        border-radius: 10px;
    }
</style>

<div class="broadcast">


    <h1>Tuum/Respond</h1>

    <p>A plug-in responder module for composing PSR-7 responses. </p>
    <p>This module provides <strong>view functions (as in MVC concept)</strong>
        to implement Post-Redirect-Get pattern and similar techniques.
        Many of the PSR-7 based micro-frameworks would become suitable for
        developing an ordinary web site.</p>
    <ul>
        <li>PSR-1, PSR-2, PSR-4, and PSR-7</li>
        <li>MIT License</li>
    </ul>

</div>

{% endblock %}