<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Tuum/Respond Sample</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/demo.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>
<body>

<nav id="header" class="nav navbar-inverse">
    <div class="container-fluid">
        <!-- brand name -->
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Tuum/Respond with Twig</a>
        </div>
        {{ view.call('\\App\\App\\LoginPresenter', viewData) |raw }}
        <!-- sample menu -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Documents <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/docs/index" >Document Top</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/docs/introduction" >Introduction</a></li>
                        <li><a href="/docs/samples" >Sample Codes</a></li>
                        <li><a href="/docs/structure" >Directory Structure</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/docs/templates" >Template and Helpers</a></li>
                        <li><a href="/docs/responders" >Responders</a></li>
                        <li><a href="/docs/services" >Services</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Samples <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/jump">Jump: form and redirect</a></li>
                        <li><a href="/upload">Upload: uploading files</a></li>
                        <li><a href="/content">Content: html rendering</a></li>
                        <li><a href="/objGraph">Object graph</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/not-such-file">Not Found Error</a></li>
                        <li><a href="/throw">Uncaught Exception</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="content">

    <div class="col-md-12">

        {% block content %} {% endblock %}

    </div>

</div>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<nav id="footer" class="nav navbar-fixed-bottom navbar-default">
    <div class="container">
        <h4>Tuum/Respond.</h4>
        <p><em>Tuum</em> means 'yours' in Latin; so it happens to the same pronunciation as 'stack' in Japanese. <br/>
            {{ view.request().getMethod() }}: {{ view.request().getUri() }}</p>
        <p>&nbsp;</p>
    </div>
</nav>

</body>
</html>